.container{
    background-color: white;
    height: 700px;
    width: 520px;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-flow: column;
}



.backOffDisplayContainer,.cardDisplay{
    width: 450px;
    margin: auto;
    position: relative;
}


.backOffDisplayContainer img,.cardDisplay img{
    width: 100%;

}

.cardDisplay img{
    cursor: pointer;
}

.loadingContainer{
    color: black;
    margin: auto;
    
}


.cardLoading{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    z-index: 1;
    background-color: rgba(255,255,255,0.5);
    padding-top: 150px;

}

.button{
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

.textcolor{
    color: black;
}


.messageDisplay{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    color: black;
    top:0px;
    left: 0px;
    background-color:rgba(255,255,255,0.5); 
    padding-top: 150px;
}